.nav
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
height: 40px;

    padding-bottom: 5px;
    background-color: #151515;
}

.nav__pages
{
    list-style-type: none;
    display: flex;

}

.nav__page
{
    padding: 10px 20px;
    cursor: pointer;
    color: white;

}

.nav__page:hover
{
    background-color: #1a1a1a;
}

.nav__page #active
{
    background-color: black;
}
.dot