.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 34% 34% 3%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;

}
#background{
    background-color:#a4161a ;
}
.title{
    padding-top: 100px;
    font-family: "Cooper Black", serif;
    color:#660708;
}
.tile {
    border: 3px solid #660708;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    color:#660708;
    font-family: impact, serif;

}

#display{
    height:20px;
    font-family: "Cooper Black", serif;
    padding-bottom: 10px;
    color:#660708;
}
#Center{
    text-align: center;
}
.Buttonstyle{
    background-color: #660708;
    border-width: 0px;
    border-radius: 15px;
    color: #e5383b;
    transition: 300ms;
    font-family: "Cooper Black", serif;
}
.Buttonstyle:hover{
    scale: 105%;
    box-shadow: 0px 5px 10px black;

}