

body
{
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #023E8A;
    color: #0077B6;

    overflow: hidden;
}

.game
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game > * + *
{
    margin-top: 60px;
}

.game__title
{
    font-size: 55px;
}

.game__choice
{
    border: none;
    padding: 7px 20px;

    cursor: pointer;

    background-color: #092c5b;
    color: inherit;
}

.game__choice:hover
{
    background-color: #002f57;
}

.hide
{
    visibility: hidden;
}

#player-choice,
#computer-choice,
#result
{
    font-weight: 900;
}
